@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Buttons                         */
/* ------------------------------- */

.btn {
    @include mixin.flex;

    max-width: max-content;
    padding: var(--btn-padding);
    transition: var(--btn-transition);
    border-radius: var(--btn-radius);
    border: var(--btn-border);
    color: var(--btn-clr);
    font-weight: var(--btn-fw);
    text-transform: var(--btn-case);

    @include mixin.focus {
        border-radius: var(--btn-radius);
    }

    /* Button Style: Primary */
    &[data-btn-style='primary'] {
        background-color: var(--btn-pri-bg);
        color: var(--btn-pri-clr);

        @include mixin.hover-focus-within {
            background-color: var(--btn-pri-bg-active);
        }
    }

    /* Button Style: Primary Light */
    &[data-btn-style='primary-light'] {
        background-color: var(--btn-pri-light-bg);
        color: var(--btn-pri-light-clr);

        @include mixin.hover-focus-within {
            background-color: var(--btn-pri-light-bg-active);
        }
    }

    /* Button Styles: On Dark */
    &[data-btn-style='on-dark'] {
        background-color: var(--btn-on-dark-bg);
        color: var(--btn-on-dark-clr);

        @include mixin.hover-focus-within {
            color: var(--btn-on-dark-clr-active);
        }
    }
}
