@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Cards                           */
/* ------------------------------- */

.card {
    padding-block: var(--card-padding-block);
    border-radius: var(--card-radius);
    text-align: var(--card-text-align);

    .heading {
        color: var(--card-heading-clr);
    }

    h2 {
        font-size: var(--card-heading-fs);
    }

    .btn {
        margin-inline: var(--card-btn-margin-inline);
    }

    &__content {
        h2 {
            margin-block: var(--card-content-margin-block);
        }
    }

    &__list {
        @include mixin.flex($direction: column, $gap: var(--card-list-gap));

        margin-block: var(--card-list-margin-block);
        list-style: none;
    }

    /* Card Styles                     */
    /* ------------------------------- */

    /* Card Style: Light */
    &[data-card-style='light'] {
        background-color: var(--card-light-bg-clr);
        color: var(--card-light-clr);

        li {
            color: var(--card-light-list-clr);
        }
    }

    /* Card Style: Dark */
    &[data-card-style='dark'] {
        background: var(--card-dark-bg-img);
        background-color: var(--card-dark-bg-clr);
        color: var(--card-dark-clr);

        .heading {
            color: inherit;
        }

        li {
            color: var(--card-dark-list-clr);
        }
    }
}

@media (min-width: 48em) {
    .card {
        display: grid;
        grid-template-areas:
            'text list'
            'button list';

        .btn {
            grid-area: button;
            margin-inline: unset;
        }

        &__list {
            align-items: flex-start;
            grid-area: list;
        }
    }
}

@media (min-width: 90em) {
    .card {
        @include mixin.flex;

        &__list {
            align-items: center;
        }
    }
}
