@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Countdown Timer                 */
/* ------------------------------- */

.countdown {
    font-weight: var(--countdown-fw);

    .heading {
        font-size: var(--countdown-heading-fs);
        letter-spacing: var(--countdown-heading-tracking);
        text-transform: var(--countdown-heading-case);

        span {
            color: var(--countdown-heading-span-clr);
        }
    }

    &__wrapper {
        @include mixin.flex(
            $gap: var(--countdown-wrapper-gap),
            $direction: row
        );

        margin-block: var(--countdown-wrapper-margin-block);
    }

    &__item {
        @include mixin.flex;
        @include mixin.size(
            var(--countdown-item-width),
            var(--countdown-item-height)
        );

        border-radius: var(--countdown-item-radius);
        background-color: var(--countdown-item-bg);
        font-size: var(--countdown-item-fs);
        line-height: var(--countdown-item-leading);

        &-label {
            font-size: var(--countdown-item-label-fs);
        }
    }

    /* Countdown Style:  Dark */
    &[data-countdown-style='on-dark'] {
        color: var(--countdown-style-ondark-clr);

        .countdown__item {
            background-color: var(--countdown-style-ondark-bg);

            &-label {
                color: var(--countdown-style-ondark-label-clr);
            }
        }
    }

    &[data-countdown-style='on-light'] {
        color: var(--countdown-style-onlight-clr);

        .heading {
            color: var(--countdown-style-onlight-heading-clr);
        }

        .countdown__item {
            background-color: var(--countdown-style-onlight-bg);

            &-label {
                color: var(--countdown-style-onlight-label-clr);
            }
        }
    }
}
