@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Forms                           */
/* ------------------------------- */

.form {
    /* Form Wrapper                    */
    /* ------------------------------- */
    &__wrapper {
        width: var(--form-wrapper-width);
        padding: var(--form-wrapper-padding);
        margin-top: var(--form-wrapper-margin-top);
        border-radius: var(--form-wrapper-radius);
        box-shadow: var(--form-wrapper-box-shadow);
        background-color: var(--form-wrapper-bg);
    }

    /* Form Group                      */
    /* ------------------------------- */
    &__group {
        margin-top: var(--form-group-margin-top);

        &:first-child {
            margin-top: 0;
        }
    }
}
