@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Hero                            */
/* ------------------------------- */

.hero {
    margin-top: var(--hero-margin-top);

    &__img {
        max-width: var(--hero-img-max-width);
    }

    &__content {
        font-size: var(--hero-content-fs);
        line-height: var(--hero-content-leading);

        .heading {
            color: var(--hero-content-heading-clr);
            font-size: var(--hero-content-heading-fs);
            line-height: var(--hero-content-heading-leading);
        }
    }

    &__home {
        @include mixin.flex($gap: var(--hero-home-gap));

        text-align: var(--hero-home-text-align);

        .hero__content {
            @include mixin.flex($gap: var(--hero-home-content-gap));

            max-width: var(--hero-home-content-max-width);

            .btn {
                box-shadow: var(--hero-home-content-btn-box-shadow);
            }
        }
    }

    &__page {
        .hero__content {
            @include mixin.flex($gap: var(--hero-page-content-gap));

            max-width: var(--hero-page-content-max-width);
            margin-inline: auto;
            text-align: var(--hero-page-content-text-align);
        }
    }
}

/* ------------------------------- */
/* Hero @ 768px                    */
/* ------------------------------- */

@media (min-width: 48em) {
    .hero__home {
        flex-direction: row-reverse;

        .hero__content {
            align-items: flex-start;
        }
    }
}

/* ------------------------------- */
/* Hero @ 1440px                   */
/* ------------------------------- */

@media (min-width: 90em) {
    .hero__page {
        .hero__content {
            margin-inline: unset;
        }
    }
}
